#exceptable folder
arut/
encoder/
x64/
JK_rhythmgame/doc/
JK_rhythmgame/x64/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.suo
*.idb
*.opendb
*.db

# Precompiled Headers
*.gch
*.pch
*.ipch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#other
*.ilk
*.pdb
*.tlog
*.log
*.filters
*.user
*.aps
*.xdc
*.pdf
*.html
*.xml
*.db-wal
*.db-shm
*.arc
*.sln
*.log
*.aps
*.vcxproj
*.filters
*.user
*.smproj
*.smproj
*.vcxproj
*.config
*.zip
JK_rhythmgame/src/resource.h
JK_rhythmgame/src/resource.rc
JK_rhythmgame/src/RCa04480
JK_rhythmgame/src/RCb04480
JK_rhythmgame/src/RCc04480
JK_rhythmgame/src/RCd04480
